xsd/Doh_Div_2.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://edavki.durs.si/Documents/Schemas/Doh_Div_2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:edp="http://edavki.durs.si/Documents/Schemas/EDP-Common-1.xsd" targetNamespace="http://edavki.durs.si/Documents/Schemas/Doh_Div_2.xsd" elementFormDefault="qualified">
  <xs:import namespace="http://edavki.durs.si/Documents/Schemas/EDP-Common-1.xsd" schemaLocation="EDP-Common-1.xsd"/>

  <!--document structure-->
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="edp:Header"/>
        <xs:element ref="edp:AttachmentList" minOccurs="0"/>
        <xs:element ref="edp:Signatures"/>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="edp:bodyContent"/>
              <xs:element ref="Doh_Div"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Doh_Div">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Period" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Obdobje</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DocumentWorkflowID" type="edp:DocumentIDType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Vrsta dokumenta - šifra</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Email" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Elektronski naslov zavezanca</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TelephoneNumber" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Telefonska številka zavezanca</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="Dividend" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>Podatki o izplačevalcih dividend in izplačanih dividend</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="Date" type="xs:date" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Datum prejema dividend</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PayerTaxNumber" type="xs:int" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Davčna številka izplačevalca dividend</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PayerIdentificationNumber" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Identifikacijska številka izplačevalca dividend</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PayerName" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Naziv izplačevalca dividend</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PayerAddress" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Naslov izplačevalca dividend</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PayerCountry" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Država izplačevalca dividend</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Type" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Vrsta dividende</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Value" type="Decimal12_2Type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Znesek dividend (v EUR)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ForeignTax" type="Decimal12_2Type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Tuji davek (v EUR)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="SourceCountry" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Država vira</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ReliefStatement" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Uveljavljam oprostitev po mednarodni pogodbi (odstavek, člen)</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Attachment" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Priloge</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!-- Custodian data -->
        <xs:element name="CustodianNotes" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Custodian notes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CustodianSubmitDate" type="xs:date" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Submission date</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Decimal12_2Type">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="\d{1,12}(\.\d{1,2})?"/>
    </xs:restriction>
  </xs:simpleType>
<script xmlns=""/></xs:schema>